/*NOTA: Falta configurar para las imagenes y correjirlo para que quede mas a gusto (hice algo rapido como para tener una base)*/

:root{
    --color_fondo_sec:#fce4e4;
    --color_fondo: #2dc3ff;
    --color_texto: #333333;
    --color_titulos: #1D3B53;
    --color_detalles: #f3ff4bdc;
    --color_detalles_2: #e277c7;
}
/*arme las variables para los algunos colores y demas, queda mas cheto gente (y no hace falta buscar siempre el colo, solo el nombre de la variable)*/

* {
    padding: 0% auto;
    margin: 0% auto;
    box-sizing: border-box;
}
/*basicamente la configuracion de los margenes y separaciones entre lineas (la seteo en 0 por default. Dsp se puede especificar)*/

html{font-size: 16px;}

body{
    background-color: var(--color_fondo_sec);
    font-style: normal;
    max-width: 1200px;
}
/*aca puse las propiedades que va a tener 
la pagina en el body*/

header{
    background-color: var(--color_fondo);
    color: var(--color_texto);
}
/*aca puse las prop para el header*/

footer{
    background-color: var(--color_fondo);
    color: var(--color_texto);
}
/*aca puse algunas proiedades para el footer*/

main{
    color: var(--color_texto);
    background-color: var(--color_fondo);
}
/*especificaciones del main*/
article{
    margin-left: 8px;
}
/*especificaciones para el <article>*/

nav ul{
    list-style: none;
    gap: 16px;
}
a{
    color: var(--color_detalles);
    list-style: none;
    gap: 16px;
    text-decoration: none;
}
a:hover {
    color: var(--color_detalles_2);
}
/*especificaciones para el nav (el normal, el de lista, links, etc...)*/

h1{
    color: var(--color_titulos);
    font-size: 60px;
    text-align: center;
}
h2{
    color: var(--color_titulos);
    font-size: 30px;
}
h3{
    color: var(--color_titulos);
    font-size: 30px;
}
p{
    color: var(--color_texto);
    font-size: 15px;
    margin: 10px;
}
/*las configuraciones para los distiintos tipos de texto (<h1>, <h2>, <h3> y <p>)*/

section{
    margin-left: 8px;
}
/*configuracion de los sections*/
input{
    background-color: var(--color_detalles_2);
    color: var(--color_texto);
}
select{
    background-color: var(--color_detalles_2);
    color: var(--color_texto);
}
textarea{
    background-color: var(--color_detalles_2);
    color: var(--color_texto);
}
/*configure un par de cosas para el tema del ingreso de datos (solo en la encuesta de contactos pero bue)*/
button{
    background-color: var(--color_detalles_2);
    color: var(--color_detalles);
}
button:hover{
    background-color: var(--color_texto);
    color: var(--color_detalles_2);
}
/*confi de los botones (1 solo y tmb en la encuesta de ocntactos)*/