/*NOTA: Falta configurar para las imagenes y correjirlo para que quede mas a gusto (hice algo rapido como para tener una base)*/

:root{
    --color_fondo_sec:#fce4e4;
    --color_fondo: #2dc3ff;
    --color_texto: #333333;
    --color_titulos: #1D3B53;
    --color_detalles: #f3ff4bdc;
    --color_detalles_2: #e277c7;
}
/*arme las variables para los algunos colores y demas, queda mas cheto gente (y no hace falta buscar siempre el colo, solo el nombre de la variable)*/

font-face {
  font-family: 'Simpsons';
  src: url(./FUENTES/Simpsonfont.ttf) format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

* {
    padding: 0% auto;
    margin: 0% auto;
    box-sizing: border-box;
}
/*basicamente la configuracion de los margenes y separaciones entre lineas (la seteo en 0 por default. Dsp se puede especificar)*/

html{font-size: 1rem;}

body{
    background-color: var(--color_fondo_sec);
    font-style: normal;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/*aca puse las propiedades que va a tener 
la pagina en el body*/

header{
    font-family: "Simpsonsfont";
    background-color: var(--color_fondo);
    color: var(--color_texto);
    width: 100%;
}
/*aca puse las prop para el header*/

footer{
    background-color: var(--color_fondo);
    color: var(--color_texto);
    width: 100%;
}
/*aca puse algunas proiedades para el footer*/

main{
    color: var(--color_texto);
    background-color: var(--color_fondo);
    flex: 1;
    width: 100%;
}
/*especificaciones del main*/

article{
    padding: 1rem;
}
/*especificaciones para el <article>*/

section{
    padding: 1rem;
}
/*especificaciones para los sections*/
nav{
    list-style: none;
    gap: 32px;
    margin: 0.5rem;
    margin-left: 1rem;
}
a{
    color: var(--color_detalles);
    list-style: none;
    gap: 32px;
    text-decoration: none;
    margin: 0.5rem;
    margin-left: 1vh;
}
a:hover {
    color: var(--color_detalles_2);
}
/*especificaciones para el nav (el normal, el de lista, links, etc...)*/

h1{
    color: var(--color_titulos);
    font-size: 4rem;
    text-align: center;
}
h2{
    color: var(--color_titulos);
    font-size: 3rem;
}
h3{
    color: var(--color_titulos);
    font-size: 2rem;
}
p{
    color: var(--color_texto);
    font-size: 1rem;
}
/*las configuraciones para los distiintos tipos de texto (<h1>, <h2>, <h3> y <p>)*/

input{
    background-color: var(--color_detalles_2);
    color: var(--color_texto);
    border-color: var(--color_detalles);
    border-style: solid;
}
select{
    background-color: var(--color_detalles_2);
    color: var(--color_texto);
    border-color: var(--color_detalles);
    border-style: solid;
}
textarea{
    background-color: var(--color_detalles_2);
    color: var(--color_texto);
    border-color: var(--color_detalles);
    border-style: solid;
    max-width: 90%;
    min-width: 10%;
    max-height: 120px;
}
/*configure un par de cosas para el tema del ingreso de datos (solo en la encuesta de contactos pero bue)*/
button{
    background-color: var(--color_detalles_2);
    color: var(--color_detalles);
    border-color: var(--color_detalles);
    border-style: solid
}
button:hover{
    background-color: var(--color_texto);
    color: var(--color_detalles_2);
    border-color: var(--color_detalles);
    border-style: solid
}
/*confi de los botones (1 solo y tmb en la encuesta de ocntactos)*/